<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Λίγα λόγια για την εταιρεία μας!</h2>
                <hr class="light">
                <p class="text-faded">Στόχος της επιχείρησης είναι η προώθηση της καινοτόμας
                   υδρορροής αλουμινίου για το σπίτι και γενικότερα τις κατασκευές.
                   Το προϊόν κατασκευάζεται από διελασσόμενο προφίλ αλουμινίου.
                   Η μοναδική αισθητική του προϊόντος και η λειτουργικότητά το καθιέρωσαν γρήγορα στην ελληνική αγορά,
                   ενώ η αυξημένη ζήτηση από το εξωτερικό μας οδήγησε στο να γίνουμε εξαγωγείς.
                   Μερικά από τα πλεονεκτήματα που διαθέτει το προιόν μας συγκριτικά με άλλα είναι:
                   <ul class="text-faded">
                     <li>Υψηλότερη αντοχή και ανθεκτικότητα (διάτρηση, αντισκωριακή προστασία)</li>
                     <li>Εύκολη και γρήγορη τοποθέτηση</li>
                     <li>Αισθητική,< ειδικά σε παραδοσιακούς οικισμούς για την ανάδειξη των τουριστικών μας περιοχών></li>
                     <li>Ποικιλία χρωμάτων <κατόπιν παραγγελίας></li>
                   </ul>
                   Η επιχείρηση είναι μεταποιητική και ταχέως αναπτυσσόμενη, και δημιουργήθηκε το 2000 από τον Aρη Ζαφείρη,
                   ο οποίος σχεδίασε και κατασκεύασε το πρωτοποριακό προϊόν της υδρορροής το οποίο έχει κατοχυρωθεί με πατέντα. (Α.Δ.Ε. 20020100234).
                   Ο ίδιος ο Αρης Ζαφείρης κατόπιν έρευνας αγοράς και παρατήρησης, διαπίστωσε ότι η αγορά είχε ένα μεγάλο κενό στις υδρορροές.
                   Οι παλιές υδρορροές ήτανε κατά το μεγαλύτερο μέρος τους ελαττωματικές και πολύ δύσκολες στην κατασκευή.
                   Ο ίδιος είχε πολυετή πείρα στον τομέα της αεροναυπηγικής και η συσσωρευμένη αυτή εμπειρία διοχετεύτηκε στο αλουμίνιο που είναι κατεξοχήν αεροπορικό υλικό.
                   Τα πάντα σήμερα γίνονται από αλουμίνιο, οπότε μετά τα κουφώματα αλουμινίου ήτανε η σειρά των υδρορροών.
                   Το 2001 η επιχείρηση επεκτάθηκε και οι νέοι συνεργάτες (Στέφανος Παπακωνσταντίνου) προστέθηκαν στη Hydroalumin.

                   To 2009 διακόπτεται η συνεργασία με τον κ. Στέφανο Παπακωνσταντίνου και προστήθετε νέος συνεργάτης ο κ. Κώστας Ζαφείρης.
                   Η επωνυμία της εταιρείας γίνεται "Hydrosystem - ecoalumin"
                   , με κεντρικό κατάστημα πώλησης στη Κατεχάκη 41, Αθήνα, και υποκατάστημα στην Κρανέα Ελασσόνας όπου και παράγονται.</p>
                <a href="#" class="btn btn-default btn-xl"></a>
            </div>
        </div>
    </div>
</section>
