<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Όραμα μας είναι κάθε σπίτι να έχει την υδροπροστασία
               από τις βροχoπτώσεις που του αξίζει με υδρορροές αλουμινίου Hydrosystem - ecoalumin.</h2>
            <a href="#" class="btn btn-default btn-xl wow tada"></a>
        </div>
    </div>
</aside>
