<header>
    <div class="promo">

    <div class="header-content">
        <div class="header-content-inner">

            <iframe class="fullvid" width="1280" height="720"
            src="https://www.youtube.com/embed/pfQPAMfc8vU?vq=hd720;autoplay=1;loop=1;hd=1;iv_load_policy=3&amp;loop=1&amp;rel=0&amp;showinfo=0&amp;controls=0"
            frameborder="0" allowfullscreen></iframe>
            <h1>ΗYDROSYSTEM-ECOALUMIN</h1>
            <hr>
            <p>Η καινοτομία στον χώρο της κατασκευής υδρορροών αλουμινίου</p>

            <a href="#about" class="btn btn-primary btn-xl page-scroll">ΜΑΘΕΤΕ ΠΕΡΙΣΣΟΤΕΡΑ</a>
        </div>
    </div>
</header>
